<div class="row justify-content-center text-center mb-4">
    <div class="col-sm-3">
        <div class="card text-white border-primary">
            <div class="card-header bg-primary"><h4>Foobar</h4></div>
            <div class="card-body bg-light" id="ticketing"></div>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="card text-white border-primary">
            <div class="card-header bg-primary"><h4>Foobar</h4></div>
            <div class="card-body bg-light" id="inventory"></div>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="card text-white border-primary">
            <div class="card-header bg-primary"><h4>Foobar</h4></div>
            <div class="card-body bg-light" id="projects-mops"></div>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="card text-white border-primary">
            <div class="card-header bg-primary"><h4>Foobar</h4></div>
            <div class="card-body bg-light" id="personal"></div>
        </div>
    </div>
</div>
<div class="row justify-content-center text-center mb-4">
    <div class="col-sm-3">
        <div class="card text-white border-primary">
            <div class="card-header bg-primary"><h4>Foobar</h4></div>
            <div class="card-body bg-light" id="otherTools"></div>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="card text-white border-primary">
            <div class="card-header bg-primary"><h4>Foobar</h4></div>
            <div class="card-body bg-light" id="wiki"></div>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="card text-white border-primary">
            <div class="card-header bg-primary"><h4>Foobar</h4></div>
            <div class="card-body bg-light" id="facility"></div>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="card text-white border-primary">
            <div class="card-header bg-primary"><h4>Foobar</h4></div>
            <div class="card-body bg-light" id="tapeRotation"></div>
        </div>
    </div>
</div>
<div class="row justify-content-center text-center mb-4">
    <div class="col-sm-3">
        <div class="card text-white border-primary">
            <div class="card-header bg-primary"><h4>Foobar</h4></div>
            <div class="card-body bg-light" id="sharepoint"></div>
        </div>
    </div>   
    <div class="col-sm-3">
        <div class="card text-white border-primary">
            <div class="card-header bg-primary"><h4>Foobar</h4></div>
            <div class="card-body bg-light" id="purchasing"></div>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="card text-white border-primary">
            <div class="card-header bg-primary"><h4>Foobar</h4></div>
            <div class="card-body bg-light" id="management"></div>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="card text-white border-primary">
            <div class="card-header bg-primary"><h4>Foobar</h4></div>
            <div class="card-body bg-light" id="training"></div>
        </div>
    </div>
</div>
