<div class="row justify-content-center text-center mb-4">
    <div class="col-sm-3">
        <div class="card text-white border-primary">
            <div class="card-header bg-primary"><h4>Foobar</h4></div>
            <div class="card-body bg-light" id="ticketing">
                <button type="button" class="btn btn-success btn-lg btn-block">button</button>
                <button type="button" class="btn btn-success btn-lg btn-block">button</button>
                <button type="button" class="btn btn-success btn-lg btn-block">button</button>
                <button type="button" class="btn btn-success btn-lg btn-block">button</button>
                <button type="button" class="btn btn-success btn-lg btn-block">button</button>
                <button type="button" class="btn btn-success btn-lg btn-block">button</button>
                <button type="button" class="btn btn-success btn-lg btn-block">button</button>
                <button type="button" class="btn btn-success btn-lg btn-block">button</button>
                <button type="button" class="btn btn-success btn-lg btn-block">button</button>
            </div>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="card text-white border-primary">
            <div class="card-header bg-primary"><h4>Foobar</h4></div>
            <div class="card-body bg-light" id="inventory">
                <button type="button" class="btn btn-success btn-lg btn-block">button</button>
                <button type="button" class="btn btn-success btn-lg btn-block">button</button>
                <button type="button" class="btn btn-success btn-lg btn-block">button</button>
                <button type="button" class="btn btn-success btn-lg btn-block">button</button>
                <button type="button" class="btn btn-success btn-lg btn-block">button</button>
                <button type="button" class="btn btn-success btn-lg btn-block">button</button>
                <button type="button" class="btn btn-success btn-lg btn-block">button</button>
                <button type="button" class="btn btn-success btn-lg btn-block">button</button>
                <button type="button" class="btn btn-success btn-lg btn-block">button</button>
            </div>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="card text-white border-primary">
            <div class="card-header bg-primary"><h4>Foobar</h4></div>
            <div class="card-body bg-light" id="projects-mops">
                <button type="button" class="btn btn-success btn-lg btn-block">button</button>
                <button type="button" class="btn btn-success btn-lg btn-block">button</button>
                <button type="button" class="btn btn-success btn-lg btn-block">button</button>
                <button type="button" class="btn btn-success btn-lg btn-block">button</button>
                <button type="button" class="btn btn-success btn-lg btn-block">button</button>
                <button type="button" class="btn btn-success btn-lg btn-block">button</button>
                <button type="button" class="btn btn-success btn-lg btn-block">button</button>
                <button type="button" class="btn btn-success btn-lg btn-block">button</button>
                <button type="button" class="btn btn-success btn-lg btn-block">button</button>
            </div>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="card text-white border-primary">
            <div class="card-header bg-primary"><h4>Foobar</h4></div>
            <div class="card-body bg-light" id="personal">
                <button type="button" class="btn btn-success btn-lg btn-block">button</button>
                <button type="button" class="btn btn-success btn-lg btn-block">button</button>
                <button type="button" class="btn btn-success btn-lg btn-block">button</button>
                <button type="button" class="btn btn-success btn-lg btn-block">button</button>
                <button type="button" class="btn btn-success btn-lg btn-block">button</button>
                <button type="button" class="btn btn-success btn-lg btn-block">button</button>
                <button type="button" class="btn btn-success btn-lg btn-block">button</button>
                <button type="button" class="btn btn-success btn-lg btn-block">button</button>
                <button type="button" class="btn btn-success btn-lg btn-block">button</button>
            </div>
        </div>
    </div>
</div>
<div class="row justify-content-center text-center mb-4">
    <div class="col-sm-3">
        <div class="card text-white border-primary">
            <div class="card-header bg-primary"><h4>Foobar</h4></div>
            <div class="card-body bg-light" id="otherTools">
                <button type="button" class="btn btn-success btn-lg btn-block">button</button>
                <button type="button" class="btn btn-success btn-lg btn-block">button</button>
                <button type="button" class="btn btn-success btn-lg btn-block">button</button>
                <button type="button" class="btn btn-success btn-lg btn-block">button</button>
                <button type="button" class="btn btn-success btn-lg btn-block">button</button>
                <button type="button" class="btn btn-success btn-lg btn-block">button</button>
                <button type="button" class="btn btn-success btn-lg btn-block">button</button>
                <button type="button" class="btn btn-success btn-lg btn-block">button</button>
                <button type="button" class="btn btn-success btn-lg btn-block">button</button>
            </div>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="card text-white border-primary">
            <div class="card-header bg-primary"><h4>Foobar</h4></div>
            <div class="card-body bg-light" id="wiki">
                <button type="button" class="btn btn-success btn-lg btn-block">button</button>
                <button type="button" class="btn btn-success btn-lg btn-block">button</button>
                <button type="button" class="btn btn-success btn-lg btn-block">button</button>
                <button type="button" class="btn btn-success btn-lg btn-block">button</button>
                <button type="button" class="btn btn-success btn-lg btn-block">button</button>
                <button type="button" class="btn btn-success btn-lg btn-block">button</button>
                <button type="button" class="btn btn-success btn-lg btn-block">button</button>
                <button type="button" class="btn btn-success btn-lg btn-block">button</button>
                <button type="button" class="btn btn-success btn-lg btn-block">button</button>
            </div>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="card text-white border-primary">
            <div class="card-header bg-primary"><h4>Foobar</h4></div>
            <div class="card-body bg-light" id="facility">
                <button type="button" class="btn btn-success btn-lg btn-block">button</button>
                <button type="button" class="btn btn-success btn-lg btn-block">button</button>
                <button type="button" class="btn btn-success btn-lg btn-block">button</button>
                <button type="button" class="btn btn-success btn-lg btn-block">button</button>
                <button type="button" class="btn btn-success btn-lg btn-block">button</button>
                <button type="button" class="btn btn-success btn-lg btn-block">button</button>
                <button type="button" class="btn btn-success btn-lg btn-block">button</button>
                <button type="button" class="btn btn-success btn-lg btn-block">button</button>
                <button type="button" class="btn btn-success btn-lg btn-block">button</button>
            </div>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="card text-white border-primary">
            <div class="card-header bg-primary"><h4>Foobar</h4></div>
            <div class="card-body bg-light" id="tapeRotation">
                <button type="button" class="btn btn-success btn-lg btn-block">button</button>
                <button type="button" class="btn btn-success btn-lg btn-block">button</button>
                <button type="button" class="btn btn-success btn-lg btn-block">button</button>
                <button type="button" class="btn btn-success btn-lg btn-block">button</button>
                <button type="button" class="btn btn-success btn-lg btn-block">button</button>
                <button type="button" class="btn btn-success btn-lg btn-block">button</button>
                <button type="button" class="btn btn-success btn-lg btn-block">button</button>
                <button type="button" class="btn btn-success btn-lg btn-block">button</button>
                <button type="button" class="btn btn-success btn-lg btn-block">button</button>
            </div>
        </div>
    </div>
</div>
<div class="row justify-content-center text-center mb-4">
    <div class="col-sm-3">
        <div class="card text-white border-primary">
            <div class="card-header bg-primary"><h4>Foobar</h4></div>
            <div class="card-body bg-light" id="sharepoint">
                <button type="button" class="btn btn-success btn-lg btn-block">button</button>
                <button type="button" class="btn btn-success btn-lg btn-block">button</button>
                <button type="button" class="btn btn-success btn-lg btn-block">button</button>
                <button type="button" class="btn btn-success btn-lg btn-block">button</button>
                <button type="button" class="btn btn-success btn-lg btn-block">button</button>
                <button type="button" class="btn btn-success btn-lg btn-block">button</button>
                <button type="button" class="btn btn-success btn-lg btn-block">button</button>
                <button type="button" class="btn btn-success btn-lg btn-block">button</button>
                <button type="button" class="btn btn-success btn-lg btn-block">button</button>
            </div>
        </div>
    </div>   
    <div class="col-sm-3">
        <div class="card text-white border-primary">
            <div class="card-header bg-primary"><h4>Foobar</h4></div>
            <div class="card-body bg-light" id="purchasing">
                <button type="button" class="btn btn-success btn-lg btn-block">button</button>
                <button type="button" class="btn btn-success btn-lg btn-block">button</button>
                <button type="button" class="btn btn-success btn-lg btn-block">button</button>
                <button type="button" class="btn btn-success btn-lg btn-block">button</button>
                <button type="button" class="btn btn-success btn-lg btn-block">button</button>
                <button type="button" class="btn btn-success btn-lg btn-block">button</button>
                <button type="button" class="btn btn-success btn-lg btn-block">button</button>
                <button type="button" class="btn btn-success btn-lg btn-block">button</button>
                <button type="button" class="btn btn-success btn-lg btn-block">button</button>
            </div>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="card text-white border-primary">
            <div class="card-header bg-primary"><h4>Foobar</h4></div>
            <div class="card-body bg-light" id="management">
                <button type="button" class="btn btn-success btn-lg btn-block">button</button>
                <button type="button" class="btn btn-success btn-lg btn-block">button</button>
                <button type="button" class="btn btn-success btn-lg btn-block">button</button>
                <button type="button" class="btn btn-success btn-lg btn-block">button</button>
                <button type="button" class="btn btn-success btn-lg btn-block">button</button>
                <button type="button" class="btn btn-success btn-lg btn-block">button</button>
                <button type="button" class="btn btn-success btn-lg btn-block">button</button>
                <button type="button" class="btn btn-success btn-lg btn-block">button</button>
                <button type="button" class="btn btn-success btn-lg btn-block">button</button>
            </div>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="card text-white border-primary">
            <div class="card-header bg-primary"><h4>Foobar</h4></div>
            <div class="card-body bg-light" id="training">
                <button type="button" class="btn btn-success btn-lg btn-block">button</button>
                <button type="button" class="btn btn-success btn-lg btn-block">button</button>
                <button type="button" class="btn btn-success btn-lg btn-block">button</button>
                <button type="button" class="btn btn-success btn-lg btn-block">button</button>
                <button type="button" class="btn btn-success btn-lg btn-block">button</button>
                <button type="button" class="btn btn-success btn-lg btn-block">button</button>
                <button type="button" class="btn btn-success btn-lg btn-block">button</button>
                <button type="button" class="btn btn-success btn-lg btn-block">button</button>
                <button type="button" class="btn btn-success btn-lg btn-block">button</button>
            </div>
        </div>
    </div>
</div>
